@import '../../../default/variables.scss';

.productDescription{
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-top: 2rem;
    background-color: $secondary-color;
    border-radius: 9px;
    &__title{
        color: $primary-color;
    }
}