@import '../../default/variables.scss';
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10rem;
    margin: 10rem 0 0 0;
    padding: 3rem 5rem;
    background-color: $primary-color;
    &__company h4, &__contact h4, &__attendance h4{
        color: #fff;
    }
    &__company__links{
        list-style: none;
        padding-top: 1rem;
        & li{
            padding: 1rem 0;
        }
        & li a{
            color: #fff;
        }
    }

    &__contact{
        &__links{
            padding-top: 1rem;
            list-style: none;
            & li{
                padding: .5rem 0;
                display: flex;
                grid-gap: .5rem;
                align-items: center;
                & label{
                    color: #fff;
                }
            }
        }
    }

    &__attendance{ 
        p{
            color: #fff;
            padding-top: 1rem;
        }
        &__links{
            display: flex;
            flex-direction: row;
            list-style: none;
            color: #fff;
            justify-content: space-between;
            width: 70%;
            grid-gap: 1rem;
            & li{
                margin-top: 3rem;
                border: 1px solid #fff;
                padding: .725rem;
                height: 47px;
                border-radius: 150px;
                & a{
                    text-decoration: none;
                    color: #fff;
                }
        }
    }
    }
}

@media (max-width: 40rem) {
    .footer{
        display: block;
        padding: 2rem 2rem;
    }
}